*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Irish Grover', cursive ;
    overflow: hidden;
}

/* INTRODUCTION SCREEN */
#intro {
    width: 100vw;
    height: 100vh;
    background-color:#7943D1 ;
    display: flex;
    justify-content: center;
    align-items: center;
}

#intro h1{
    color: white;
    font-size: 180px;
    text-align: center;
    text-transform: uppercase;
    animation: titleZoom 4s ease-in-out 0.3s both;
}

@keyframes titleZoom {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    25% {
        transform: scale(1);
        opacity: 1;
    }
    60% {
        transform: scale(1);
        opacity:1;
    }
    100% {
        transform: scale(8);
        opacity: 0;
    }
}

/*GAME SCREEN*/
#game{
    display: none;
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: #7943D1;
}

#imp-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 50px;
    font-size: 28px;
    font-family: 'Irish Grover', cursive;
    background-color: #E4C7AF;
    color: black;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    /*transition: transform 0.2s ease;
    animation: buttonpop 0.6s ease-out ;*/
}

#imp-button:hover{
    transform: translate(-50%, -50%) translateY(5px) scale(1.1);
}

#message{
    display: none;
    position: absolute;
    top: 40px;
    right: 40px;
    max-width: 400px;
    padding: 15px 25px;
    font-size: 22px;
    font-family: 'Irish Grover', cursive;
    background-color: #E8C9A0;
    color: black;
    border-radius: 50px;
    text-align: center;
}

@keyframes buttonpop {
    0%{
        transform: translate(-50%, -50%) scale(0);
        opacity: 0;
    }
    60%{
        transform: translate(-50%, -50%) scale(1.2);
        opacity: 1;
    }
    80%{
        transform: translate(-50%, -50%) scale(0.9);
    }
    100%{
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}

/*WIN SCREEN*/
#win{
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: #4A1A8C;
    justify-content: center;
    align-items: center;
}

#win-box{
    background-color: #7b2FBE;
    width: 1470px;
    height: 720px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
    border: 8px solid #9B59B6;
}

#win-message {
  color: white;
  font-size: 120px;
  text-align: center;
}

